@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-Regular.woff') format('woff'),
        url('assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-Bold.woff') format('woff'),
        url('assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('assets/fonts/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-Italic.woff') format('woff'),
        url('assets/fonts/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-BoldItalic.eot');
    src: local('TT Lakes Bold Italic'), local('TTLakes-BoldItalic'),
        url('assets/fonts/TTLakes-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/TTLakes-BoldItalic.woff') format('woff'),
        url('assets/fonts/TTLakes-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html {
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
    font-family: TT Lakes, sans-serif;
    box-sizing: border-box;
}

/* Обнуление margin и padding */
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
}

a, button,
.options__description {
    text-decoration: none;
    color: inherit;
}

a:hover, button:hover,
label[for]:hover {
    cursor: pointer;
}

/* Скрываю блок кнопок и подписи */
.options__personal-options,
.options__description {
    display: none;
}

.body__header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
}

.header__navigation {
    justify-content: space-between;
}

.header__navigation,
.header__main-nav,
.header__options,
.options__option-group,
.main__menu,
.about-cps__read-more {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header__main-nav,
.options__option-group {
    gap: 16px;
}

.header__main-nav {
    margin-left: 16px;
}

.header__options {
    margin-right: 16px;
}

.header__logo {
    padding: 18px 0 17px;
}

ul {
    list-style: none;
}

li > * {
    display: block;
}

.header__button {
    width: 40px;
    height: 40px;
    background: no-repeat center #FF3E79;
    border-radius: 50%;
    border: none;
}

.header__button img {
    display: block;
    margin: 0 auto;
}

/* Divider */
.header__main-nav::after {
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    content: "";
}

.main__title {
    margin: 24px 16px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
}

.main__title::before {
    position: absolute;
    left: 0;
    display: block;
    height: 40px;
    border-right: 4px solid #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    content: "";
}

.main__navigation {
    margin: 24px 0;
    height: 40px;
}

.main__menu {
    overflow: scroll;
    scrollbar-width: none;
    gap: 8px;
}

.main__menu::-webkit-scrollbar {
    display: none;
}

.menu__item {
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: center;
}

.menu__item:first-child {
    margin-left: 16px;
}

.menu__item a:any-link {
    color: #7E7E82;
}

.menu__link {
    padding: 6px 14px;
    border: 2px solid transparent;
}

.menu__link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.about-cps__info,
.about-cps__text {
    display: flex;
    flex-direction: column;
}

.about-cps__info {
    gap: 16px;
    margin: 0 16px;
}

.about-cps__text {
    gap: 18px;
    overflow: hidden;
    height: 90px;
    letter-spacing: 0.2px;
    text-align: left;
}

.about-cps__read-more {
    font-family: TT Lakes, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    width: fit-content;
    background-color: #F8F8F8;
    border: none;
    gap: 8px;
}

.about-cps__read-more img {
    padding: 6px 8px;
}

.about-cps__picture-container {
    min-height: 176px;
    margin-top: 16px;
}

.about-cps__picture img {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .header__main-nav::after {
        display: none;
    }

    .header__main-nav,
    .header__options {
        gap: 20px;
    }

    .header__main-nav {
        margin-left: 24px;
    }

    .header__options {
        margin-right: 24px;
    }

    .header__burger,
    .options__personal-options {
        display: flex;
        align-items: center;
    }

    /* Dividers */
    .header__burger::after,
    .options__personal-options::after {
        display: block;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        content: "";
    }

    .main__title {
        margin: 24px 24px 32px;
    }

    .main__navigation {
        margin: 32px 0;
    }

    .menu__item:first-child {
        margin-left: 24px;
    }

    .main__about-cps {
        display: flex;
        flex-wrap: nowrap;
        gap: 48px;
    }

    .about-cps__info {
        margin: 0;
        margin-left: 24px;
    }

    .about-cps__text {
        max-width: 480px;
        height: 160px;
        line-height: 20px;
        gap: 20px;
    }

    .about-cps__picture-container {
        margin: 0 24px 0 auto;
    }

    .about-cps__picture img {
        border-radius: 6px;
    }
}

@media (min-width: 1120px) {
    .body__header {
        height: 82px;
        background-color: #F8F8F8;
        border: none;
    }

    .header__navigation {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .header__options {
        margin: 42px 32px 0 0;
    }

    .options__order-options .options__option-group {
        align-items: flex-end;
    }

    .header__main-nav,
    .options__personal-options {
        display: none;
    }

    .main__title {
        position: absolute;
        top: 42px;
        left: 32px;
        margin: 0;
    }

    .main__title::before {
        left: -32px;
    }

    .options__repair,
    .options__check-status {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .options__description {
        display: block;
        font-size: 16px;
        line-height: 24px;
    }

    .options__order-options .options__option-group {
        gap: 32px;
    }

    .main__navigation {
        margin: 12px 0;
        height: auto;
    }

    .main__menu {
        overflow: visible;
        flex-wrap: wrap;
    }

    .menu__item,
    .menu__item:first-child {
        margin-left: 32px;
    }

    .menu__link {
        padding: 6px 10px;
    }

    .main__about-cps {
        max-width: 1120px;
        margin: 0 auto;
        padding: 0 32px;
        gap: 36px;
    }

    .about-cps__info,
    .about-cps__picture-container {
        margin: 0;
    }

    .about-cps__text {
        min-width: 480px;
        height: auto;
    }

    .about-cps__picture-container {
        width: 100%;
    }
}
